data_pipeline/workflow_source_jsons/1513-Calendario_Manager.json
{
  "name": "Agente Calendario",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Descripcion General:\n\nEres un asistente de calendario. Tu función es ayudar a los usuarios a gestionar eventos de manera eficiente, interactuando con el calendario para obtener información, listar eventos, crear, actualizar y eliminar eventos. Debes interpretar correctamente las solicitudes del usuario y ejecutar la acción correspondiente con precisión.  \n\nHerramientas:\n\n**ObtenerEventos** utiliza esta herramienta para obtener una lista de eventos dentro de las fechas que proporcione el usuario. Si no da información suficiente, tienes que solicitarla.\n**CrearEvento** utiliza esta herramienta para crear un evento con la información proporcionada por el usuario.  \n**ActualizarEvento** utiliza esta herramienta para modificar o actualizar un evento con la información proporcionada por el usuario. Usa **ObtenerEventos** para obtener el ID del evento.\n**EliminarEvento:** utiliza esta herramienta para eliminar un evento especificado por el usuario. Solicita confirmación antes de eliminar. Usa **ObtenerEventos** para obtener el ID del evento. \n\nReglas:  \n\nSiempre valida que la información proporcionada por el usuario sea suficiente para ejecutar la acción.  \n\nEn caso de datos incompletos (por ejemplo, falta la fecha o el ID del evento), solicita la información faltante antes de continuar.  \n\nSi un evento no existe o hay un error, proporciona una respuesta explicativa y, si es posible, sugiere una solución.  \n\nSi se solicita una lista de eventos, incluye solo la información relevante (título, fecha, hora y ubicación).  \n  \nEjemplos:\n\n**1. Obtener un evento específico:**  \nUsuario: \"Muéstrame los detalles de la reunión sobre 'Análisis de mercado'.\"  \nRespuesta esperada:  \n\nTítulo: Reunión de equipo\nFecha: 25 de febrero de 2025\nHora: 10:00 AM - 11:00 AM\nUbicación: Sala de conferencias A\nDescripción: Revisión de progreso del proyecto\n\n\n**2. Listar eventos dentro de un rango de fechas:**  \nUsuario: \"¿Cuáles son m... [truncated]\n          ",
          "maxIterations": 30
        }
      },
      "id": "a9e812eb-96b6-43cd-9d81-6d969bb72162",
      "name": "Agente de Calendario",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -480,
        80
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "frequencyPenalty": 0,
          "presencePenalty": 0,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -640,
        360
      ],
      "id": "89eb37b2-06d8-446e-8499-44a3bf9cfb4f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BezmwtWWrrDWrs81",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "CrearEvento",
        "resource": "event",
        "operation": "create",
        "calendarId": {
          "__rl": true,
          "value": "AQMkAGIxNzRmOTkANy1hOGEyLTRlMTUtYjk1Ni0xZjhhNDliNDA3ZDAARgAAAwHqOpiZgzZOrSDxe1K_GkQHAIJu1qnAy5JHgqaX2JdhhPAAAAIBBgAAAIJu1qnAy5JHgqaX2JdhhPAAAAIZLQAAAA==",
          "mode": "list",
          "cachedResultName": "Calendario"
        },
        "subject": "={{ $fromAI(\"eventTitle\") }}",
        "startDateTime": "={{ $fromAI(\"eventStart\") }}",
        "endDateTime": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "body": "={{ $fromAI('eventDescription') }}",
          "bodyPreview": "={{ $fromAI('eventDescriptionPreview') }}",
          "timeZone": "Europe/Madrid"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTool",
      "typeVersion": 2,
      "position": [
        -480,
        420
      ],
      "id": "12ac69b4-0ed1-4b4d-aa7f-68813b3507c8",
      "name": "CrearEvento",
      "webhookId": "2c0f589e-5f66-4a9f-b3c7-644f266bde61",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "QAblSuGZEY7IFy2p",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "ActualizarEvento",
        "resource": "event",
        "operation": "update",
        "calendarId": {
          "__rl": true,
          "value": "AQMkAGIxNzRmOTkANy1hOGEyLTRlMTUtYjk1Ni0xZjhhNDliNDA3ZDAARgAAAwHqOpiZgzZOrSDxe1K_GkQHAIJu1qnAy5JHgqaX2JdhhPAAAAIBBgAAAIJu1qnAy5JHgqaX2JdhhPAAAAIZLQAAAA==",
          "mode": "list",
          "cachedResultName": "Calendario"
        },
        "eventId": {
          "__rl": true,
          "value": "={{ $fromAI(\"eventID\") }}",
          "mode": "id"
        },
        "additionalFields": {
          "body": "={{ $fromAI('eventDescription') }}",
          "bodyPreview": "={{ $fromAI('eventDescriptionPreview') }}",
          "end": "={{ $fromAI('endTime') }}",
          "start": "={{ $fromAI('startTime') }}",
          "subject": "={{ $fromAI('eventTitle') }}"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTool",
      "typeVersion": 2,
      "position": [
        -200,
        420
      ],
      "id": "25fc6f2c-9a83-4a23-a93f-e981a39f0204",
      "name": "ActualizarEvento",
      "webhookId": "a516f844-4990-49c6-aa3f-11817b33705a",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "QAblSuGZEY7IFy2p",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "EliminarEvento",
        "resource": "event",
        "operation": "delete",
        "calendarId": {
          "__rl": true,
          "value": "AQMkAGIxNzRmOTkANy1hOGEyLTRlMTUtYjk1Ni0xZjhhNDliNDA3ZDAARgAAAwHqOpiZgzZOrSDxe1K_GkQHAIJu1qnAy5JHgqaX2JdhhPAAAAIBBgAAAIJu1qnAy5JHgqaX2JdhhPAAAAIZLQAAAA==",
          "mode": "list",
          "cachedResultName": "Calendario"
        },
        "eventId": {
          "__rl": true,
          "value": "={{ $fromAI(\"eventID\") }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTool",
      "typeVersion": 2,
      "position": [
        -40,
        420
      ],
      "id": "17b7b5df-3e2d-4796-99c3-105cf01c5454",
      "name": "EliminarEvento",
      "webhookId": "722e3b95-ffda-45b7-ad68-26371345401c",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "QAblSuGZEY7IFy2p",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bc039a22-49cc-456f-a58a-04d69f9b0fe8",
      "name": "✅",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "No se puede realizar la tarea. Por favor, inténtalo de nuevo.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bdcd546c-4bf1-4a55-a618-e48017c40424",
      "name": "❌",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        200
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        80
      ],
      "id": "82863a74-a4be-4104-9c23-c49e010deee9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "ObtenerEventos",
        "resource": "event",
        "fromAllCalendars": false,
        "calendarId": {
          "__rl": true,
          "value": "AQMkAGIxNzRmOTkANy1hOGEyLTRlMTUtYjk1Ni0xZjhhNDliNDA3ZDAARgAAAwHqOpiZgzZOrSDxe1K_GkQHAIJu1qnAy5JHgqaX2JdhhPAAAAIBBgAAAIJu1qnAy5JHgqaX2JdhhPAAAAIZLQAAAA==",
          "mode": "list",
          "cachedResultName": "Calendario"
        },
        "returnAll": "=10",
        "filters": {
          "custom": "={{ $fromAI('dateTime', 'Fecha y hora de los eventos') }}"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTool",
      "typeVersion": 2,
      "position": [
        -340,
        420
      ],
      "id": "d46a63bd-7d44-4255-9414-e552b8f726d2",
      "name": "ObtenerEventos",
      "webhookId": "25b4730d-5bd4-473d-9f72-6a0a2f26954f",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "QAblSuGZEY7IFy2p",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Calendario",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CrearEvento": {
      "ai_tool": [
        [
          {
            "node": "Agente de Calendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ActualizarEvento": {
      "ai_tool": [
        [
          {
            "node": "Agente de Calendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "EliminarEvento": {
      "ai_tool": [
        [
          {
            "node": "Agente de Calendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Calendario": {
      "main": [
        [
          {
            "node": "✅",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Agente de Calendario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ObtenerEventos": {
      "ai_tool": [
        [
          {
            "node": "Agente de Calendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "nAWcsFqEIMIvT733"
  },
  "versionId": "1cbd59df-501b-4107-892b-af8dbe5ebd56",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95c6fc89c406a2ccb034b742bdd44ef0bd06698fd5955486fcf8c367d737be84"
  },
  "id": "ay2Xrxm8CY9La8OH",
  "tags": []
}