data_pipeline/workflow_source_jsons/1515-Email_Manager.json
{
  "name": "Agente de Email",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -840,
        60
      ],
      "id": "ddb05cec-8cb1-4b3e-95e9-4f511b31cdce",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Descripcion General:\n\nEres un asistente de gestión de correos electrónicos. Tu función es realizar las acciones relacionadas con los correos electrónicos. \n\nHerramientas:    \n**EnviarCorreo** utiliza esta herramienta para enviar correos. \n**RespuestaCorreo** utiliza esta herramienta para responder un correo. Primero, usa **ObtenerCorreos** para obtener el ID del correo.\n**ObtenerCorreos** utiliza esta herramienta para mostrar los correos de la bandeja de entrada del intervalo de fecha que introduzca el usuario. \n**ModificarCorreo** utiliza esta herramienta para modificar o actualizar un correo. Primero, usa **ObtenerCorreos** para obtener el ID del correo.\n**EliminarCorreo** utiliza esta herramienta para eliminar un correo. Primero, usa **ObtenerCorreos** para obtener el ID del correo.\n**MoverCorreo**  utiliza esta herramienta para mover un correo de una carpeta a otra. Primero, usa **ObtenerCorreos** para obtener el ID del correo.\n**CrearBorrador** utiliza esta herramienta cuando el usuario quiera crear un borrador.\n\nReglas:\nCuando el usuario solicite enviar un correo electrónico y/o responder a un correo electrónico, en primer lugar asegúrate que te dice el contenido que necesitas.\n\nCuando muestres correos o listas de correos, incluye solo la información relevante (remitente, asunto, fecha y resumen del contenido).  \n\nEn caso de errores, correos inexistentes o información faltante, proporciona un mensaje claro explicando la situación.  \n\nA la hora de crear el contenido del correo utilizando las herramientas de **EnviarCorreo**, **RespuestaCorreo**, y **CrearBorrador**, debes comenzar el mensaje con un saludo formal incluyendo al nombre de la persona. \nEjemplo: \n-Buenos días, [nombre]: si el horario actual es de 05:00 AM a 12:00 PM.\n-Buenas tardes, [nombre]: si el horario actual es de 13:00 PM a 20:00 PM.\n-Buenas noches, [nombre]: si el horario actual es de 21:00 PM a 04:00 AM.\n\n\nLos correos que escribas por l... [truncated]\n          ",
          "maxIterations": 10
        }
      },
      "id": "be90dea3-0ed3-4543-a9e8-b5ac295a5b4a",
      "name": "Agente de Email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -480,
        60
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "frequencyPenalty": 0,
          "presencePenalty": 0,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1000,
        400
      ],
      "id": "f68b76c0-987b-41e6-b626-4d3de9444428",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BezmwtWWrrDWrs81",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e2fa2bf8-2c56-44c3-812a-59834709574f",
      "name": "✅",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "No se puede realizar la tarea. Por favor, inténtalo de nuevo.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9fa9b988-ba83-4fde-96d6-036c946327fb",
      "name": "❌",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "RespuestaCorreo",
        "operation": "reply",
        "messageId": {
          "__rl": true,
          "value": "={{ $fromAI(\"ID\",\"the message ID\") }}",
          "mode": "id"
        },
        "replyToSenderOnly": true,
        "message": "={{ $fromAI(\"emailBody\") }}\n\n<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #1A4672;\">\n    <p><strong>José Manuel Fernández</strong><br>\n       <em>Ingeniero Informático Experto en IA</em></p>\n</div>",
        "additionalFields": {
          "bodyContentType": "html"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTool",
      "typeVersion": 2,
      "position": [
        -640,
        480
      ],
      "id": "13ac073f-31dc-48ec-8242-3698adf72119",
      "name": "RespuestaCorreo",
      "webhookId": "f6a2256d-bd09-41e4-8930-364a13455d75",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "QAblSuGZEY7IFy2p",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "CrearBorrador",
        "resource": "draft",
        "subject": "={{ $fromAI('Subject') }}",
        "bodyContent": "={{ $fromAI(\"emailBody\") }}\n\n<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #1A4672;\">\n    <p><strong>José Manuel Fernández</strong><br>\n       <em>Ingeniero Informático Experto en IA</em></p>\n</div>",
        "additionalFields": {
          "bodyContentType": "html",
          "toRecipients": "={{ $fromAI(\"emailAddress\") }}"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTool",
      "typeVersion": 2,
      "position": [
        0,
        500
      ],
      "id": "f7845ba0-9d3f-4b00-8da6-a79effd7ba0e",
      "name": "CrearBorrador",
      "webhookId": "1051e1b4-dc5d-44d3-b870-036449eeb588",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "QAblSuGZEY7IFy2p",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "EliminarCorreo",
        "operation": "delete",
        "messageId": {
          "__rl": true,
          "value": "={{ $fromAI(\"ID\",\"the message ID\") }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTool",
      "typeVersion": 2,
      "position": [
        -260,
        480
      ],
      "id": "3a0708d3-3582-412f-900c-2cf0bc2df196",
      "name": "EliminarCorreo",
      "webhookId": "327a17b5-3363-4478-ba17-ef1a156e3224",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "QAblSuGZEY7IFy2p",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "ModificarCorreo",
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $fromAI(\"ID\",\"the message ID\") }}",
          "mode": "id"
        },
        "updateFields": {
          "bodyContent": "={{ $fromAI(\"emailBody\") }}",
          "toRecipients": "={{ $fromAI('To') }}",
          "subject": "={{ $fromAI('Subject') }}"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTool",
      "typeVersion": 2,
      "position": [
        -380,
        480
      ],
      "id": "2fe646f0-c513-4aa6-9614-d7ee7f2f32db",
      "name": "ModificarCorreo",
      "webhookId": "496e77c0-2785-42bf-b736-1e8dd2960d5c",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "QAblSuGZEY7IFy2p",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "MoverCorreo",
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "={{ $fromAI(\"ID\",\"the message ID\") }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $fromAI('Parent_Folder') }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTool",
      "typeVersion": 2,
      "position": [
        -140,
        480
      ],
      "id": "21854365-1bff-4af1-b98c-2a25ce6aff3e",
      "name": "MoverCorreo",
      "webhookId": "6dff4007-4917-4bae-af83-99825a4f439d",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "QAblSuGZEY7IFy2p",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "EnviarCorreo",
        "toRecipients": "={{ $fromAI(\"emailAddress\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "bodyContent": "={{ $fromAI(\"emailBody\") }}\n\n<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #1A4672;\">\n    <p><strong>José Manuel Fernández</strong><br>\n       <em>Ingeniero Informático Experto en IA</em></p>\n</div>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTool",
      "typeVersion": 2,
      "position": [
        -780,
        460
      ],
      "id": "7e6bf86e-1e15-4744-b79d-af115263a049",
      "name": "EnviarCorreo",
      "webhookId": "08cf8705-c0f0-451b-8dbc-ca1a9aaceefd",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "QAblSuGZEY7IFy2p",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "ObtenerCorreos",
        "operation": "getAll",
        "limit": "={{ $fromAI('Limit', `Cuantos emails quiere el usuario`, 'number') }}",
        "output": "fields",
        "fields": [
          "receivedDateTime",
          "from",
          "sender",
          "subject",
          "bodyPreview"
        ],
        "filtersUI": {
          "values": {
            "filters": {
              "receivedAfter": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}",
              "receivedBefore": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_Before', ``, 'string') }}",
              "sender": "={{ $fromAI(\"sender\",\"Quienes son los remitentes de los correos electrónicos.\") }}"
            }
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTool",
      "typeVersion": 2,
      "position": [
        -520,
        480
      ],
      "id": "86899cbf-24a6-4738-9829-88e0a9157765",
      "name": "ObtenerCorreos",
      "webhookId": "c06d8092-f22e-4295-994f-79609cbbb576",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "QAblSuGZEY7IFy2p",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Agente de Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Email": {
      "main": [
        [
          {
            "node": "✅",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RespuestaCorreo": {
      "ai_tool": [
        [
          {
            "node": "Agente de Email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CrearBorrador": {
      "ai_tool": [
        [
          {
            "node": "Agente de Email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "EliminarCorreo": {
      "ai_tool": [
        [
          {
            "node": "Agente de Email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ModificarCorreo": {
      "ai_tool": [
        [
          {
            "node": "Agente de Email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MoverCorreo": {
      "ai_tool": [
        [
          {
            "node": "Agente de Email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "EnviarCorreo": {
      "ai_tool": [
        [
          {
            "node": "Agente de Email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ObtenerCorreos": {
      "ai_tool": [
        [
          {
            "node": "Agente de Email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "nAWcsFqEIMIvT733"
  },
  "versionId": "15694cc0-ea7d-4f40-ae02-7d3bfc2d5bb4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95c6fc89c406a2ccb034b742bdd44ef0bd06698fd5955486fcf8c367d737be84"
  },
  "id": "W4r4EJ19fD3lYRdc",
  "tags": []
}