data_pipeline/workflow_source_jsons/1520-Voice_Assistant_Transcriber.json
{
  "name": "Asistente_de_Voz_Transcribir",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "74fefccb-aedb-49e6-9d06-fbb537818793",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -580,
        -280
      ],
      "id": "8f116830-51f9-4863-9314-69afb164b3f7",
      "name": "Webhook",
      "webhookId": "74fefccb-aedb-49e6-9d06-fbb537818793"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Webhook').item.json.body.message.toolCalls[0].id }}\",\n      \"result\": {{ JSON.stringify($json.output) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2000,
        -300
      ],
      "id": "12c4aba5-dc6f-4451-8240-ba0b83f5225a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu objetivo es realizar las siguientes acciones:\n\"MCP Base de datos\": utiliza esta herramienta para almacenar en google sheets la siguiente información:\n-nombre: {{ $json.nombre }}\n-apellidos: {{ $json.apellidos }}\n-telefono: {{ $json.telefono }}\n-email: {{ $json.email }}\n-descripcion: {{ $json.descripcion }}\n\"MCP Calendario\": utiliza esta herramienta para agendar una reunión con {{ $json.email }} en esta fecha y hora: {{ $json.fecha }}\n\"MCP Gmail\": utiliza esta herramienta para enviar un correo a {{ $json.email }} indicando que la reunión se ha agendado correctamente y especifica la fecha y hora {{ $json.fecha }} de la reunión y el enlace a la misma.",
        "options": {
          "systemMessage": "=# Rol\nEres una agente encargado de ejecutar las tres herramientas que tienes a tu disposición en el orden que te especifico a continuación.\n\n# Herramientas\n\"MCP Base de datos\": utiliza esta herramienta para almacenar en google sheets la siguiente información:\n-nombre: {{ $json.nombre }}\n-apellidos: {{ $json.apellidos }}\n-telefono: {{ $json.telefono }}\n-email: {{ $json.email }}\n-descripcion: {{ $json.descripcion }}\n\"MCP Calendario\": utiliza esta herramienta para agendar una reunión con {{ $json.email }} en esta fecha y hora: {{ $json.fecha }}\n\"MCP Gmail\": utiliza esta herramienta para enviar un correo a {{ $json.email }} indicando que la reunión se ha agendado correctamente y especifica la fecha y hora {{ $json.fecha }} de la reunión y el enlace a la misma.\n\n# Reglas\nSiempre tienes que seguir este orden:\n1. usar la heramienta \"MCP Base de datos\" para almacenar la información: \n-nombre: {{ $json.nombre }}\n-apellidos: {{ $json.apellidos }}\n-telefono: {{ $json.telefono }}\n-email: {{ $json.email }}\n-descripcion: {{ $json.descripcion }}\n2. usar la herramienta \"MCP Calendario\" ara agendar una reunión con {{ $json.email }} en esta fecha y hora: {{ $json.fecha }}\n3. usar la herramienta \"MCP Gmail\" para enviar un correo a {{ $json.email }} indicando que la reunión se ha agendado correctamente y especifica la fecha y hora {{ $json.fecha }} de la reunión y el enlace a la misma.\n\nSi alguna herramienta produce algún error, termina y en la respuesta devuelve FALSE.\n\n# Respuesta\nSi hay algún error en alguna herramienta, devuelve FALSE.\nSi todo va bien y ejecutas correctamente las tres herramientas, devuelve TRUE.\n\n# Recordatorio\n- Fecha y Hora actual {{ $now.toISO() }}\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        340,
        40
      ],
      "id": "b2103aa1-d91c-4ccb-990d-81ad7c17758e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.blunexai.com/mcp/eb1e466b-091c-481f-9311-1bc644d0dd7c/sse",
        "include": "selected",
        "includeTools": [
          "Enviar_Email"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        300,
        300
      ],
      "id": "5993c4e9-d36e-4606-ab7f-ba18f7737a1a",
      "name": "MCP Gmail"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.blunexai.com/mcp/dde3c86b-fc11-4a83-88d3-95be7124ae23/sse",
        "include": "selected",
        "includeTools": [
          "Crear_evento"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        440,
        300
      ],
      "id": "428846cc-cc5e-4a29-a8f7-96a22a225eb2",
      "name": "MCP Calendario"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.blunexai.com/mcp/3c43cbf8-665f-48d6-9526-274d0c79a6c9/sse",
        "include": "selected",
        "includeTools": [
          "AddContactos"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        620,
        300
      ],
      "id": "38c17e53-5f1c-4875-ae1b-795fe5f445f9",
      "name": "MCP Base de Datos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f17e54fd-0c15-489c-9a21-7109c373c510",
              "name": "email",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.email }}",
              "type": "string"
            },
            {
              "id": "799d8092-106f-49c7-84bf-05b4fab04216",
              "name": "nombre",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.nombre }}",
              "type": "string"
            },
            {
              "id": "fb3503e0-c565-4062-8934-61901c74f5b0",
              "name": "apellidos",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.apellidos }}",
              "type": "string"
            },
            {
              "id": "d1733fdc-3404-470b-bbad-2a8c62d44826",
              "name": "telefono",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.telefono }}",
              "type": "string"
            },
            {
              "id": "745fe5dd-0bc7-4f1e-869a-83dac9ad2d4a",
              "name": "descripcion",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.descripcion }}",
              "type": "string"
            },
            {
              "id": "7ddc7567-dc6f-47b2-a3cb-e53f49e0aebf",
              "name": "fecha",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.fechaHora.toDateTime().toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        -140
      ],
      "id": "a68070d9-9e7d-4e5e-8679-85531571770b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        300
      ],
      "id": "815c8cdf-9c30-4403-9445-462fe7f063c8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qLM5Iy3mjllZuUML",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Utiliza esta herramienta para mejorar tus acciones añadiendo una capa más de razonamiento antes de ejecutar."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        800,
        280
      ],
      "id": "d02a5c38-20e6-4404-9227-2176ecf5ab19",
      "name": "Think"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6d585f0-8f71-465f-b334-50793be4607a",
              "leftValue": "={{ $json.body.message.type }}",
              "rightValue": "end-of-call-report",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -360,
        -280
      ],
      "id": "d8cc7506-91a5-45cd-9c63-d1246f9fdf39",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e92ae065-eb07-4193-9c03-8475e049b9c0",
              "name": "transcripcion",
              "value": "={{ $json.body.message.artifact.transcript }}",
              "type": "string"
            },
            {
              "id": "242e2fca-a625-4850-b6ea-b52c053ca290",
              "name": "phone",
              "value": "655123123",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        -600
      ],
      "id": "a974b8fc-b789-4abe-86c5-168408fca650",
      "name": "transcripcion"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Transcripción de la conversación: {{ $json.transcripcion }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Tu objetivo principal consiste en determinar el sentimiento del usuario que habla con nosotros. Para ello, recibirás como entrada la transcripción de una conversación telefónica entre un usuario (user) con un asistente de voz de inteligencia artifical (AI) de una empresa que ofrece automatizaciones de inteligencia artificial.\n\nClasifica el sentimiento del usuario de la llamada con una nota del 1 al 10, donde 1 es un sentimiento muy malo y 10 un sentimiento muy bueno.\n\nSalida: nota"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        420,
        -780
      ],
      "id": "000048dc-2c21-4ab9-8de4-3e5cd5df4533",
      "name": "Sentimiento"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        440,
        -580
      ],
      "id": "dc3d47b4-a29d-4b0e-b14d-a2e8dee0d405",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Vxp4FMoOGGm0qtkq",
          "name": "Quizpol"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        -240
      ],
      "id": "a51f2a55-8271-4229-9e7f-87b8cddd5752",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "Vxp4FMoOGGm0qtkq",
          "name": "Quizpol"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Transcripción de la conversación: {{ $json.transcripcion }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Tu objetivo principal consiste en determinar la intención del usuario que habla con nosotros. Para ello, recibirás como entrada la transcripción de una conversación telefónica entre un usuario (user) con un asistente de voz de inteligencia artifical (AI) de una empresa que ofrece automatizaciones de inteligencia artificial.\n\nDetermina la intención del usuario de la siguiente forma:\n\"Compra\": el usuario tiene la intención de comprar un servicio.\n\"Información\": el usuario desea obtener información de nuestro servicio.\n\"Sin interés\": el usuario termina la llamada sin intención de hacer nada con nosotros."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        400,
        -440
      ],
      "id": "7296422e-e0b4-475e-af9a-a2f338a815e9",
      "name": "Intención"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e92ae065-eb07-4193-9c03-8475e049b9c0",
              "name": "sentimiento",
              "value": "={{ $json.data[0].text }}",
              "type": "string"
            },
            {
              "id": "320b02bd-217b-4151-aade-1434fb96e950",
              "name": "intencion",
              "value": "={{ $json.data[1].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        -540
      ],
      "id": "80ae577d-fd6c-428c-9c12-3a6f2a7cbc21",
      "name": "salida"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        820,
        -540
      ],
      "id": "7fc4ac38-4355-40da-b477-fc56003149b2",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1000,
        -540
      ],
      "id": "1080c18a-d0c8-427a-9b48-5bafb87b5a12",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ymPKK6qetnoTIctN6E6PdNALzraOTHubwN1k6YNUN10",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $('transcripcion').item.json.phone }}",
            "sentimiento": "={{ $json.sentimiento }}",
            "intencion": "={{ $json.intencion }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apellidos",
              "displayName": "apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentimiento",
              "displayName": "sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intencion",
              "displayName": "intencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1460,
        -540
      ],
      "id": "ccc66ebd-43df-4fa5-8e8d-25857ac2e123",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cX2gNhyZTi4YkXta",
          "name": "Google Sheets 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "685df75e-3d4a-4d28-9804-d09300d0bf13",
              "name": "output",
              "value": "Ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        -540
      ],
      "id": "f6da5f29-e51f-4b31-aec6-a8af262af805",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Calendario": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Base de Datos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "transcripcion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcripcion": {
      "main": [
        [
          {
            "node": "Sentimiento",
            "type": "main",
            "index": 0
          },
          {
            "node": "Intención",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Sentimiento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Intención",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentimiento": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intención": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salida": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "098be53a-1d4c-4016-a2e1-153bb0e645bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bf9145e22226d3dde31d69a2254018e4fb1eec7eb0d3a8fb5176a27c2816db5"
  },
  "id": "KGYJ791CSlXUhiwq",
  "tags": []
}