data_pipeline/workflow_source_jsons/1525-Error_Notification.json
{
  "name": "Error",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e7de880e-5448-465d-b393-8eac3e3526cf",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "subject": "=Error flujo:  {{ $json.workflow.name }}",
        "emailType": "text",
        "message": "=Ha ocurrido un error en uno de los flujos de N8N.\n\nURL: {{ $json.execution.url }}\n\nWorkFlow: {{ $json.workflow.name }}\n\nError: {{ $json.execution.error.message }}\n\nStack: {{ $json.execution.error.stack }}\n\nÚltimo nodo Ejecutado: {{ $json.execution.lastNodeExecuted }}\n\nModo: {{ $json.execution.mode }}\n\nFecha y Hora: {{ $now }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        0
      ],
      "id": "bd826d40-0c09-44d7-a107-1f94cea8113d",
      "name": "Gmail",
      "webhookId": "cf3996f5-f734-434f-847d-bdcf24a71e9b",
      "credentials": {
        "gmailOAuth2": {
          "id": "s7csFM6MEn4MVA9e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_266544359644828928"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        440,
        0
      ],
      "id": "b856dc01-b6a0-46a4-877c-3fafb4eb00e6",
      "name": "Gmail1",
      "webhookId": "12a5f187-a88c-4241-b060-1b50b734644f",
      "credentials": {
        "gmailOAuth2": {
          "id": "s7csFM6MEn4MVA9e",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54f03426-634b-44c1-bb57-c8d22b353dcd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95c6fc89c406a2ccb034b742bdd44ef06698fd5955486fcf8c367d737be84"
  },
  "id": "nAWcsFqEIMIvT733",
  "tags": [
    {
      "createdAt": "2025-03-11T11:51:09.346Z",
      "updatedAt": "2025-03-11T11:51:09.346Z",
      "id": "CAMqXWrWIphp5eQ6",
      "name": "error"
    }
  ]
}