data_pipeline/workflow_source_jsons/1529-Chatwoot_Flow.json
{
  "name": "Chatwoot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d2498d51-6a1e-40e4-b76c-479d1521ea0b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -460,
        -100
      ],
      "id": "06337f99-ada9-4775-b49c-49262ab56d8b",
      "name": "Webhook",
      "webhookId": "d2498d51-6a1e-40e4-b76c-479d1521ea0b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5a4e9437-09ed-4e91-9f14-8c15884a27b6",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "message_created",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        -100
      ],
      "id": "4ad70d53-93e4-46bc-8a64-a5c34cd2c420",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "392f7d86-6a05-41df-933b-da45540fc2a6",
              "leftValue": "={{ $json.body.conversation.messages[0].sender_type }}",
              "rightValue": "Contact",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        -100
      ],
      "id": "bdfa6a4f-bf05-4aba-9bef-de0686ce17d4",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96852dbc-9811-43ad-a4a4-cbca57f92999",
              "name": "accountId",
              "value": "={{ $json.body.account.id }}",
              "type": "string"
            },
            {
              "id": "2f4f5c74-52f2-4c33-8964-c995f587ed74",
              "name": "conversationId",
              "value": "={{ $json.body.conversation.messages[0].conversation_id }}",
              "type": "string"
            },
            {
              "id": "0ce9b188-2de6-436d-ac89-4deb939b87dc",
              "name": "message.messageId",
              "value": "={{ $json.body.source_id }}",
              "type": "string"
            },
            {
              "id": "2a74b153-b4b2-4689-8049-2d3e50f38817",
              "name": "message.messageType",
              "value": "={{ $json.body.conversation?.messages[0]?.attachments ? $json.body.conversation.messages[0].attachments[0].file_type : $json.body.content_type }}",
              "type": "string"
            },
            {
              "id": "fb7a5873-b537-4389-bb5e-616624538331",
              "name": "message.messageContent",
              "value": "={{ $json.body.content ?? '' }}",
              "type": "string"
            },
            {
              "id": "51754f06-6b5c-465a-87ec-6b3a1592d9d9",
              "name": "message.messageMedia",
              "value": "={{ $json.body.conversation.messages[0].attachments[0].data_url ?? '' }}",
              "type": "string"
            },
            {
              "id": "8e3d278a-710b-450f-9bf1-5f135b831e0c",
              "name": "message.messageTimeStamp",
              "value": "={{ $json.body.conversation.contact_inbox.created_at.toDateTime().toISO() }}",
              "type": "string"
            },
            {
              "id": "fdd53006-878c-49b7-942a-0c70b034dfda",
              "name": "estado",
              "value": "={{ $json.body.conversation.messages[0].sender.custom_attributes.estado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        -100
      ],
      "id": "9a81ac7f-b357-4dd5-8e48-71a8ba114227",
      "name": "Entrada WhatsApp"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.messageContent }}",
        "options": {
          "systemMessage": "=## Rol:\nEres un agente de atención al cliente de la empresa BlunexAI, dedicada a la implementación de soluciones de inteligencia artificial.\n\n## Objetivo:\nInformar sobre los servicios de la empresa: \n\nImplementación de Asistentes de Voz para Atención al Cliente: 2500 €\nImplementación de Agentes Conversaciones WhatsApp: 2000 €\nImplementación de Agentes con Base de Conocimiento: 3000 €\nAutomatizaciones con Inteligencia Artificial: 2000 €\n\n\n# Recordatorios\n- La fecha y hora actual es: **{{ $now }}**.  \n- No inventes ningún dato: si falta información, pide aclaración.\n- Utiliza un tono cordial y educado.\n- No uses caracteres especiales en tu respuesta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1020,
        -180
      ],
      "id": "39f4ab10-3c3f-4a72-ab85-35b159c9d46a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "frequencyPenalty": 0,
          "presencePenalty": 0,
          "temperature": 0.1,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        100
      ],
      "id": "4f3a394c-5c22-4d17-b1be-73ad0113abd5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Vxp4FMoOGGm0qtkq",
          "name": "Quizpol"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.conversationId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1140,
        80
      ],
      "id": "d12d9c97-b96b-4d8b-94da-2ced7e08c929",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://<<url>>/api/v1/accounts/{{ $('Entrada WhatsApp').item.json.accountId }}/conversations/{{ $('Entrada WhatsApp').item.json.conversationId }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.cuerpoJSON }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        -180
      ],
      "id": "cd32e60c-a581-4afc-90af-997e4e4af844",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "kd3AeMrp0uYrfb9l",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// items es el array de entrada. Aquí suponemos que solo hay 1 ítem.\nconst texto = $input.first().json.output;\n\n// Construimos el payload completo que necesitamos enviar\nconst payload = {\n  content: texto,\n  private: false,\n  message_type: \"outgoing\",\n  sender: { type: \"bot\" }\n};\n\n// Convertimos TODO el objeto a una cadena JSON válida\nconst cuerpoJSON = JSON.stringify(payload);\n\nreturn {cuerpoJSON};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        -180
      ],
      "id": "c9962d7d-63c5-4539-ab2f-7409ddd62dc3",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "575a7678-c4b0-4481-88de-854f39adc59c",
              "leftValue": "={{ $json.estado }}",
              "rightValue": "OFF",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        -100
      ],
      "id": "5f6105e4-e601-422c-93ef-36a9a51a26d8",
      "name": "If Estado != OFF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d50da782-d962-4243-91cb-e1e3cde9eb50",
              "leftValue": "={{ $('Entrada WhatsApp').item.json.message.messageType }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        -100
      ],
      "id": "1865386a-2a7b-47cf-9f4f-4ca5029f8180",
      "name": "If Texto"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Entrada WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrada WhatsApp": {
      "main": [
        [
          {
            "node": "If Estado != OFF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Estado != OFF": {
      "main": [
        [
          {
            "node": "If Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Texto": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8455bc09-57e1-445f-93e6-ba7a86040573",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bf9145e22226d3dde31d69a2254018e4fb1eec7eb0d3a8fb5176a27c2816db5"
  },
  "id": "ja8qGoKI8HWHWi4D",
  "tags": []
}