data_pipeline/workflow_source_jsons/1534-Phone_Assistant.json
{
  "name": "Asistente Teléfono",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "18b656d6-5549-43d3-afc1-08e92736d8da",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        -120
      ],
      "id": "6acd19a4-8262-4a71-ac17-77ac23a7ba35",
      "name": "Webhook",
      "webhookId": "18b656d6-5549-43d3-afc1-08e92736d8dd"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Webhook').item.json.body.message.toolCalls[0].id }}\",\n      \"result\": {{ JSON.stringify($json.output) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        840,
        -120
      ],
      "id": "dd88fb63-01c1-4e37-aedb-0df0529ef35b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu objetivo es realizar las siguientes acciones:\n\"MCP Calendario\": utiliza esta herramienta para comprobar disponiblidad en esta fecha y hora: {{ $json.fecha }} y agendar una reunión con {{ $json.email }} en esta fecha y hora: {{ $json.fecha }}\n\"MCP Gmail\": utiliza esta herramienta para enviar un correo a {{ $json.email }} indicando que la reunión se ha agendado correctamente y especifica la fecha y hora {{ $json.fecha }} de la reunión y el enlace a la misma.",
        "options": {
          "systemMessage": "=# Rol\nEres una agente encargado de ejecutar las dos herramientas que tienes a tu disposición en el orden que te especifico a continuación.\n\n# Herramientas\n\"MCP Calendario\": utiliza primero esta herramienta para buscar disponibilidad en la fecha y hora {{ $json.fecha }}. En caso de que no haya disponiblidad, devuelve FALSE. En caso de que si haya disponiblidad, agenda una reunión en la fecha y hora {{ $json.fecha }} con {{ $json.email }}.\n\"MCP Gmail\": utiliza esta herramienta para enviar un correo a {{ $json.email }} indicando que la reunión se ha agendado correctamente y especifica la fecha y hora {{ $json.fecha }} de la reunión y el enlace a la misma.\n\n# Reglas\nSiempre tienes que seguir este orden:\n1. usar la herramienta \"MCP Calendario\" para buscar disponibilidad en la fecha y hora {{ $json.fecha }}. En caso de que no haya disponiblidad, devuelve FALSE. En caso de que si haya disponiblidad, agenda una reunión en la fecha y hora {{ $json.fecha }} con {{ $json.email }}.\n2. usar la herramienta \"MCP Gmail\" para enviar un correo a {{ $json.email }} indicando que la reunión se ha agendado correctamente y especifica la fecha y hora {{ $json.fecha }} de la reunión y el enlace a la misma.\n\nSi alguna herramienta produce algún error, termina y en la respuesta devuelve FALSE.\n\n# Respuesta\n* Si hay algún error en alguna herramienta, o no hay disponibilidad en el calendario, devuelve FALSE.\n* Si todo va bien y ejecutas correctamente las dos herramientas, devuelve TRUE.\n\n# Recordatorio\n- Fecha y Hora actual {{ $now.toISO() }}\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        340,
        -120
      ],
      "id": "7a5f4fc2-bd13-4e08-96f5-d1ce8448a9fb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.blunexai.com/mcp/b67acacc-b965-4ff1-a549-d89574481e8a/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        360,
        180
      ],
      "id": "097d5bc9-eda8-4bfc-9ad7-a332f3f12530",
      "name": "MCP Gmail"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.blunexai.com/mcp/c431151b-ecce-4272-a978-d737c95f3f8b/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        540,
        180
      ],
      "id": "58b6c9c2-2265-4ffd-9bf9-369770393d90",
      "name": "MCP Calendario"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f17e54fd-0c15-489c-9a21-7109c373c510",
              "name": "email",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.email }}",
              "type": "string"
            },
            {
              "id": "799d8092-106f-49c7-84bf-05b4fab04216",
              "name": "nombre",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.nombre }}",
              "type": "string"
            },
            {
              "id": "fb3503e0-c565-4062-8934-61901c74f5b0",
              "name": "apellidos",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.apellidos }}",
              "type": "string"
            },
            {
              "id": "d1733fdc-3404-470b-bbad-2a8c62d44826",
              "name": "telefono",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.telefono }}",
              "type": "string"
            },
            {
              "id": "745fe5dd-0bc7-4f1e-869a-83dac9ad2d4a",
              "name": "descripcion",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.descripcion }}",
              "type": "string"
            },
            {
              "id": "7ddc7567-dc6f-47b2-a3cb-e53f49e0aebf",
              "name": "fecha",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.fechaHora.toDateTime().toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        -120
      ],
      "id": "a45ca5ba-35fe-4395-af50-1a8e1a9d41b8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "description": "Utiliza esta herramienta para mejorar tus acciones añadiendo una capa más de razonamiento antes de ejecutar."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        780,
        180
      ],
      "id": "7f9bc88f-5316-45f8-b65b-d3f5ec2e41bf",
      "name": "Think"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17-thinking",
        "options": {
          "temperature": 0.1,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        140,
        160
      ],
      "id": "e762bc7b-fefa-4b24-8866-e9d982ae05cc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NdyPXiyPUwmqADX5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        980,
        160
      ],
      "id": "5be106df-d597-4971-96c9-745f1a604f33",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Calendario": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3dd54b05-a19a-47bd-af0d-9cb0a7267de7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bf9145e22226d3dde31d69a2254018e4fb1eec7eb0d3a8fb5176a27c2816db5"
  },
  "id": "Ub8NtlKNo0DJHibU",
  "tags": []
}