data_pipeline/workflow_source_jsons/1538-n8n_Flowise_Integration.json
{
  "name": "n8n + Flowise v3",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -280,
        -20
      ],
      "id": "0adb1dcb-6c66-4305-bb6f-091aadac9e7b",
      "name": "Telegram Trigger",
      "webhookId": "aed17cba-ff71-42a1-bfa0-5cf62c5d9734",
      "credentials": {
        "telegramApi": {
          "id": "8drPogr674XwAfP9",
          "name": "Flowise Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        340,
        -20
      ],
      "id": "e64510a1-80f9-4416-a563-91664e170fe2",
      "name": "Telegram",
      "webhookId": "e72ac9b4-51ad-4049-b50a-913dcb8f0c97",
      "credentials": {
        "telegramApi": {
          "id": "8drPogr674XwAfP9",
          "name": "Flowise Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://url_flowise/api/v1/prediction/ef74127f-5520-4834-a7c0-364fc74de80e",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        -20
      ],
      "id": "d68c9e55-e2fa-4df2-8dc2-f86d5a4d5242",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b437853-839c-4b84-a8e2-19da310b9d0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bf9145e22226d3dde31d69a2254018e4fb1eec7eb0d3a8fb5176a27c2816db5"
  },
  "id": "OtdVaemMJ74CYvdT",
  "tags": []
}