data_pipeline/workflow_source_jsons/1545-Slack_RAG_Agent.json
{
  "name": "Agente RAG Slack",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0959HE2A95",
          "mode": "list",
          "cachedResultName": "conocimiento"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -1968,
        192
      ],
      "id": "201d8416-9f7d-49c5-982c-e5b447a0e62f",
      "name": "Slack Trigger",
      "webhookId": "e067735d-1065-4d5d-86c2-9e3b9cf6c4bc",
      "credentials": {
        "slackApi": {
          "id": "d4rS8HcqOvkmMoHF",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1872,
        432
      ],
      "id": "d7d7260b-4ea9-4bba-8fe6-5317cf020039",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NdyPXiyPUwmqADX5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Slack Trigger').item.json.user }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1552,
        432
      ],
      "id": "9d072433-29c8-4b39-a2a7-d7e14e6a1269",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "HoooGLNqE6GLB7Do",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extraer PDF').item.json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "tipo",
                "value": "={{ $('On form submission').item.json.Documento.filename }}"
              }
            ]
          }
        }
      },
      "id": "853c5f47-9d1b-4aaa-9367-0c1eb13c7414",
      "name": "Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -1104,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Conocimiento n8n",
        "formDescription": "=Selecciona el documento que quires cargar.\n",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Documento",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -2016,
        -240
      ],
      "id": "2f5989f4-eb82-434f-922b-d41935f7e94f",
      "name": "On form submission",
      "webhookId": "7bbb414a-d50d-4f00-8984-4bb074c211fd"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Documento",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1760,
        -240
      ],
      "id": "a6a9d026-27f5-4bd7-9931-bfa4e27f9153",
      "name": "Extraer PDF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/conocimiento/points/delete",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.tipo\",\n        \"match\": { \"value\": \"{{ $('On form submission').item.json.Documento.filename }}\" }\n      }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1488,
        -240
      ],
      "id": "2d5a05a9-70be-47ab-9265-7463d33c8d89",
      "name": "Borrar Documento Existente",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -816,
        -272
      ],
      "id": "02e15ff7-bf6a-4011-ae6c-7b748f7a2103",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "¡Documento cargado!",
        "completionMessage": "El documento ha sido cargado correctamente",
        "options": {
          "formTitle": "Conocimiento n8n"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -624,
        -272
      ],
      "id": "0624285f-6b8d-4599-94d7-63ff480be69e",
      "name": "Form",
      "webhookId": "0471e1cf-608b-4466-b436-a3080941e2ca"
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 100,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -848,
        -32
      ],
      "id": "f2c79098-f02a-4368-9b6a-0de9c8fd7e82",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "conocimiento",
          "mode": "id"
        },
        "options": {}
      },
      "id": "81c2cd7f-3235-4a03-ac6c-d442cf3c9a00",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        -1216,
        -272
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 1,
      "credentials": {
        "qdrantApi": {
          "id": "rg2NHi83Wt2pkwYi",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1264,
        -80
      ],
      "id": "e3c94e90-2962-4553-a14e-e50e9d88cc44",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "qLM5Iy3mjllZuUML",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1312,
        528
      ],
      "id": "9e930d01-2c33-4bc0-b7c8-cd8f487b4186",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "qLM5Iy3mjllZuUML",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Utiliza esta herramienta para consultar tu conocimiento.",
        "qdrantCollection": {
          "__rl": true,
          "value": "conocimiento",
          "mode": "list",
          "cachedResultName": "conocimiento"
        },
        "topK": 20,
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -1424,
        416
      ],
      "id": "b4689f88-6b05-4030-95c6-00ca0267f035",
      "name": "Conocimiento",
      "credentials": {
        "qdrantApi": {
          "id": "rg2NHi83Wt2pkwYi",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0959HE2A95",
          "mode": "list",
          "cachedResultName": "conocimiento"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Slack Trigger').item.json.event_ts }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -496,
        192
      ],
      "id": "d25c173f-a2c9-4b42-ae6b-bfdb085f3e28",
      "name": "Send a message",
      "webhookId": "348674c5-4888-4f48-a65f-ec99edee1196",
      "credentials": {
        "slackApi": {
          "id": "d4rS8HcqOvkmMoHF",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -1136,
        432
      ],
      "id": "c9a032b8-9443-4d52-9b68-f6cb0361823d",
      "name": "Think"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -1072,
        336
      ],
      "id": "73b8eb30-9a32-4c5e-9f78-75fec608fe17",
      "name": "Calculator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "frequencyPenalty": 0,
          "presencePenalty": 0,
          "temperature": 0.1,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        384
      ],
      "id": "6e546312-7f3a-4969-9e23-8fcd14e6ae62",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qLM5Iy3mjllZuUML",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "frequencyPenalty": 0,
          "presencePenalty": 0,
          "temperature": 0.1,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1712,
        432
      ],
      "id": "f23119dc-089f-46e1-ab7d-237b0caac5c2",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "qLM5Iy3mjllZuUML",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -880,
        384
      ],
      "id": "eb961f33-dd18-4725-a128-7bb5f18fdff8",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "NdyPXiyPUwmqADX5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.blocks[0].elements[0].elements[1].text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# Identidad\n\nEres un asistente de conocimiento de la empresa BlunexAI. \n\n# Objetivo\n\nTu objetivo principal es resolver a dudas relacionadas con n8n. Para ello dispones de la herramienta \"Conocimiento\" que puedes consultar cualquier duda relacionada con esto.\n\n# Herramientas:\n\n* \"Conocimiento\": utiliza esta herramienta siempre para responder a cualquier consulta.\n\n* \"Calculator\": utiliza esta herramienta para realizar cálculos matemáticos.\n\n* \"Think\": utiliza esta herramienta antes de realizar cualquier acción para mejorar tu comportamiento. También utilizará antes de dar una respuesta y así mejorarla.\n\n# Recordatorios\n* Utiliza un tono profesional, educado, y alegre.\n* Siempre utiliza tu herramienta \"Conocimiento\" para responder a cualquier consulta.\n* Fecha y hora actual: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -1600,
        192
      ],
      "id": "b85a4d91-da9d-4e36-8fd6-6ebe4b769438",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Tu objetivo consiste en formatear un mensaje markdown en un formato más bonito para un usuario. Elimina todos los caracteres típicos del lenguaje markdown y adapta la respuesta a un canal de Slack.\n\nEn tu salida jamás digas que has adaptado el texto a un formato para slack. Simplemente devuelve la misma información pero en el formato especificado."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -896,
        192
      ],
      "id": "ce4b314c-ff1e-410b-8f46-7e80213bb86b",
      "name": "Formateador Salida"
    },
    {
      "parameters": {
        "content": "## Carga de Documentos en Base de Datos Vectorial",
        "height": 384,
        "width": 1760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2112,
        -288
      ],
      "id": "e0385974-4abc-4adc-b930-eab8a6e5b99e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Agente IA Conocimiento Slack",
        "height": 544,
        "width": 1840,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2096,
        112
      ],
      "id": "f8b6b55d-ff67-45d4-9a6d-e2aa0ba95d0e",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extraer PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer PDF": {
      "main": [
        [
          {
            "node": "Borrar Documento Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar Documento Existente": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Conocimiento",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Conocimiento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Formateador Salida",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Formateador Salida",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Formateador Salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formateador Salida": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "927e3d50-398f-4585-9831-ebd829c713e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bf9145e22226d3dde31d69a2254018e4fb1eec7eb0d3a8fb5176a27c2816db5"
  },
  "id": "R9SjllFzP2QhOglG",
  "tags": []
}