data_pipeline/workflow_source_jsons/1556-Asistente_de_Voz.json
{
  "name": "Asistente de Voz",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "da281729-4e5d-4ec5-b06b-a0501f644752",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        -40
      ],
      "id": "efe8d006-853c-4fd8-87e5-c6eac4484569",
      "name": "Webhook",
      "webhookId": "da281729-4e5d-4ec5-b06b-a0501f644752"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Webhook').item.json.body.message.toolCalls[0].id } }\",\n      \"result\": {{ JSON.stringify($json.data) } }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        140
      ],
      "id": "6badc65b-8ceb-47a0-8e64-e403c357f65c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "18f9xYiyhNK-iWMacdgeUIlvEJ8Rr32J82kvxq_yz4dw",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefono": "={{ $json.body.message.toolCalls[0].function.arguments.telefono || '' }}",
            "Nombre": "={{ $json.body.message.toolCallList[0].function.arguments.nombre || '' }}",
            "Apellidos": "={{ $json.body.message.toolCallList[0].function.arguments.apellidos || '' }}",
            "email": "={{ $json.body.message.toolCallList[0].function.arguments.email || '' }}",
            "descripcion": "={{ $json.body.message.toolCallList[0].function.arguments.descripcion || '' }}"
          },
          "matchingColumns": [
            "Telefono"
          ],
          "schema": [
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apellidos",
              "displayName": "Apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -60,
        -40
      ],
      "id": "9eb44952-1af7-4cce-90b5-46b900d747a6",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bfViq1oG1apHKhzi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        200,
        -40
      ],
      "id": "7a6aabdd-5ace-4918-b13d-2bf9f82eb528",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.serverUrl }}/message/sendText/{{ $json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.chatId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensaje }}"
            },
            {
              "name": "delay",
              "value": "={{ 2000 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        -140
      ],
      "id": "edc01e8e-638b-4903-959b-72e88b012572",
      "name": "Enviar WhatsApp",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1e85ac8-fb9b-4f25-8c35-bdbd665dd6b7",
              "name": "serverUrl",
              "value": "<serverUrl>",
              "type": "string"
            },
            {
              "id": "a27a81b8-818c-49dd-91e3-d997a84d03f0",
              "name": "instanceName",
              "value": "<instanceName>",
              "type": "string"
            },
            {
              "id": "dedca811-1582-4a77-8870-656d67ee434d",
              "name": "apiKey",
              "value": "<apiKey>",
              "type": "string"
            },
            {
              "id": "46ca3707-e5c3-4cc0-9899-afc6302587b0",
              "name": "chatId",
              "value": "=34{{ $json.data[0].Telefono }}@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "38a40f88-43b5-4e8e-9036-ac2a0e1c8e79",
              "name": "mensaje",
              "value": "=Hola {{ $json.data[0].Nombre }} muchas gracias por contactar.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        -140
      ],
      "id": "31ff19b0-e146-4eec-b952-ec73f4a666bd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.email || '' }}",
        "subject": "Automatiza tu Negocio",
        "emailType": "text",
        "message": "=Hola {{ $json.data[0].Nombre }} muchas gracias por contactar.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        460,
        -400
      ],
      "id": "d163121a-3c1b-48b9-a530-4d15b5d3e148",
      "name": "Gmail",
      "webhookId": "4e94fc24-10c6-4443-9421-91240db6d350",
      "credentials": {
        "gmailOAuth2": {
          "id": "BFmraUR9GX87vppO",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "31d86ec5-90ed-4154-ad43-781a0e28c883",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bf9145e22226d3dde31d69a2254018e4fb1eec7eb0d3a8fb5176a27c2816db5"
  },
  "id": "EA1mUkUCjadUGmu9",
  "tags": []
}