data_pipeline/workflow_source_jsons/1557-Voice_Assistant_MCP.json
{
  "name": "Asistente_de_Voz_MCP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "18b656d6-5549-43d3-afc1-08e92736d8dd",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        -280
      ],
      "id": "e09f0ef4-15f6-4020-9a46-f8bf76d31fa3",
      "name": "Webhook",
      "webhookId": "18b656d6-5549-43d3-afc1-08e92736d8dd"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Webhook').item.json.body.message.toolCalls[0].id }}\",\n      \"result\": {{ JSON.stringify($json.output) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        -280
      ],
      "id": "9c34eeb1-6f9c-46a1-9ab6-0827a12145df",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu objetivo es realizar las siguientes acciones:\n\"MCP Base de datos\": utiliza esta herramienta para almacenar en google sheets la siguiente información:\n-nombre: {{ $json.nombre }}\n-apellidos: {{ $json.apellidos }}\n-telefono: {{ $json.telefono }}\n-email: {{ $json.email }}\n-descripcion: {{ $json.descripcion }}\n\"MCP Calendario\": utiliza esta herramienta para agendar una reunión con {{ $json.email }} en esta fecha y hora: {{ $json.fecha }}\n\"MCP Gmail\": utiliza esta herramienta para enviar un correo a {{ $json.email }} indicando que la reunión se ha agendado correctamente y especifica la fecha y hora {{ $json.fecha }} de la reunión y el enlace a la misma.",
        "options": {
          "systemMessage": "=# Rol\nEres una agente encargado de ejecutar las tres herramientas que tienes a tu disposición en el orden que te especifico a continuación.\n\n# Herramientas\n\"MCP Base de datos\": utiliza esta herramienta para almacenar en google sheets la siguiente información:\n-nombre: {{ $json.nombre }}\n-apellidos: {{ $json.apellidos }}\n-telefono: {{ $json.telefono }}\n-email: {{ $json.email }}\n-descripcion: {{ $json.descripcion }}\n\"MCP Calendario\": utiliza esta herramienta para agendar una reunión con {{ $json.email }} en esta fecha y hora: {{ $json.fecha }}\n\"MCP Gmail\": utiliza esta herramienta para enviar un correo a {{ $json.email }} indicando que la reunión se ha agendado correctamente y especifica la fecha y hora {{ $json.fecha }} de la reunión y el enlace a la misma.\n\n# Reglas\nSiempre tienes que seguir este orden:\n1. usar la heramienta \"MCP Base de datos\" para almacenar la información: \n-nombre: {{ $json.nombre }}\n-apellidos: {{ $json.apellidos }}\n-telefono: {{ $json.telefono }}\n-email: {{ $json.email }}\n-descripcion: {{ $json.descripcion }}\n2. usar la herramienta \"MCP Calendario\" ara agendar una reunión con {{ $json.email }} en esta fecha y hora: {{ $json.fecha }}\n3. usar la herramienta \"MCP Gmail\" para enviar un correo a {{ $json.email }} indicando que la reunión se ha agendado correctamente y especifica la fecha y hora {{ $json.fecha }} de la reunión y el enlace a la misma.\n\nSi alguna herramienta produce algún error, termina y en la respuesta devuelve FALSE.\n\n# Respuesta\nSi hay algún error en alguna herramienta, devuelve FALSE.\nSi todo va bien y ejecutas correctamente las tres herramientas, devuelve TRUE.\n\n# Recordatorio\n- Fecha y Hora actual {{ $now.toISO() }}\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        -280
      ],
      "id": "6c96ec83-310b-4fe2-aed2-0ad984668337",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "include": "selected",
        "includeTools": [
          "Enviar_Email"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        260,
        20
      ],
      "id": "4b532fcc-2f62-45b0-845d-ff16c6f1396e",
      "name": "MCP Gmail"
    },
    {
      "parameters": {
        "include": "selected",
        "includeTools": [
          "Crear_evento"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        400,
        20
      ],
      "id": "501ca847-c9ac-4974-8967-5369df503306",
      "name": "MCP Calendario"
    },
    {
      "parameters": {
        "include": "selected",
        "includeTools": [
          "AddContactos"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        580,
        20
      ],
      "id": "f5c4a673-a3f1-4cdd-a103-09a417cf92c4",
      "name": "MCP Base de Datos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f17e54fd-0c15-489c-9a21-7109c373c510",
              "name": "email",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.email }}",
              "type": "string"
            },
            {
              "id": "799d8092-106f-49c7-84bf-05b4fab04216",
              "name": "nombre",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.nombre }}",
              "type": "string"
            },
            {
              "id": "fb3503e0-c565-4062-8934-61901c74f5b0",
              "name": "apellidos",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.apellidos }}",
              "type": "string"
            },
            {
              "id": "d1733fdc-3404-470b-bbad-2a8c62d44826",
              "name": "telefono",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.telefono }}",
              "type": "string"
            },
            {
              "id": "745fe5dd-0bc7-4f1e-869a-83dac9ad2d4a",
              "name": "descripcion",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.descripcion }}",
              "type": "string"
            },
            {
              "id": "7ddc7567-dc6f-47b2-a3cb-e53f49e0aebf",
              "name": "fecha",
              "value": "={{ $json.body.message.toolCalls[0].function.arguments.fechaHora.toDateTime().toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        -280
      ],
      "id": "e24f78f1-6f9e-4bd3-9bfe-b6870361309d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        40,
        20
      ],
      "id": "761ded9e-0920-42e6-8b9e-ccdb4beac4ae",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qLM5Iy3mjllZuUML",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Utiliza esta herramienta para mejorar tus acciones añadiendo una capa más de razonamiento antes de ejecutar."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        760,
        0
      ],
      "id": "5da8fc57-16d6-434f-a626-1d6e3f611505",
      "name": "Think"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Calendario": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Base de Datos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e907853b-f9f6-44f2-a9fd-d6f5bf5825fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95c6fc89c406a2ccb034b742bdd44ef0bd06698fd5955486fcf8c367d737be84"
  },
  "id": "0b55TJzcnXHuoMgX",
  "tags": []
}